.box {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;
}
.heading {
  line-height: 2rem;
  height: 2rem;
  font-size: calc(0.7rem + 0.5vmin);
  text-transform: uppercase;
}
.box_link {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-rows: minmax(auto, 30px);
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.item_link {
  font-size: calc(0.7rem + 0.5vmin);
  color: #f0ffff;
  text-decoration: none;
}
