.container {
  grid-area: main;
  background-color: #daeeed;
}
.box_profile,
.profile_inner,
.wrapper_img,
.profile_heading,
.profile_module,
.box_post,
.post_form,
.post_field,
.post_module,
.post_wall,
.post_header,
.post_avatar_inner,
.post_content {
  width: 100%;
  box-sizing: border-box;
}
.box_profile,
.profile_inner {
  position: relative;
}
.profile_heading {
  position: absolute;
  top: 0;
  z-index: 1;
  line-height: calc(1em + 0.5vw);
  font-size: calc(1rem + 1vmin);
  color: #f1f1f1;
  text-align: center;
  text-shadow: 1px 1px 0 #4074b5, 1px -1px 0 #4074b5, -1px 1px 0 #4074b5, -1px -1px 0 #4074b5, 1px 0px 0 #4074b5,
    0px 1px 0 #4074b5, -1px 0px 0 #4074b5, 0px -1px 0 #4074b5;
}
.wrapper_img {
  position: relative;
  padding-top: 30%;
  height: 0;
  overflow: hidden;
}
.profile_background {
  width: 100%;
  height: auto;
}
.centered {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}
.profile_module {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}
.profile_photo {
  max-width: 15vw;
  height: auto;
  object-fit: cover;
}
.profile_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 5px 10px;
}
.profile_item {
  font-size: calc(0.7rem + 0.5vmin);
  color: #f1f1f1;
}
.profile_item span {
  padding-left: 10px;
}

.box_post {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
.post_heading {
  font-size: calc(0.9rem + 1vmin);
  line-height: calc(1.5em + 1vw);
  color: #3f3f3f;
}
.post_form {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}
.post_field {
  width: calc(50% + 25vmin);
  font-size: calc(0.5rem + 1vmin);
  resize: none;
}
.post_submit {
  align-self: flex-start;
  cursor: pointer;
}

.post_wall {
}
.post_module {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(60px, auto) 1fr;
  row-gap: 10px;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 5px;
}
.post_header {
  display: flex;
  align-items: center;
}
.post_avatar_inner {
  width: 40px;
  height: 40px;
}
.post_avatar {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #a0a0a0;
}
.post_info {
  padding: 0 15px;
}
.post_author {
	font-size: calc(0.5rem + 1vmin);
  font-weight: 500;
  line-height: 1.2rem;
}
.post_author > a {
  color: #4074b5;
  text-decoration: none;
}
.post_date {
  font-size: calc(0.5rem + 0.5vmin);
  line-height: 1.2rem;
}
.post_content {
}
.post_text {
  font-size: calc(0.5rem + 1vmin);
  line-height: calc(1rem + 0.5vmin);
}
