.form {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
	width: 50%;
}
.field {
  width: calc(50% + 25vmin);
  font-size: calc(0.5rem + 1vmin);
  resize: none;
}
.submit {
  align-self: flex-start;
  cursor: pointer;
}
