.container {
  grid-area: nav;
  box-sizing: border-box;
  background-color: #66cdaa;
  color: #3f3f3f;
}
.box_background {
  width: 100%;
}
.background {
  max-width: 100%;
  height: auto;
}
.box_avatar {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.avatar {
  position: absolute;
  top: -50%;
  left: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  box-shadow: 0px 0px 0px 3px #a0a0a0;
  border-radius: 50%;
  box-sizing: border-box;
}
.user_name {
  box-sizing: border-box;
  text-align: center;
  font-size: calc(0.7rem + 1vmin);
}
.nav_box {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;
}
.nav_heading {
  line-height: 2rem;
  height: 2rem;
  font-size: calc(0.7rem + 0.5vmin);
  text-transform: uppercase;
}
.box_link {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-rows: minmax(auto, 30px);
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.link_item {
  font-size: calc(0.7rem + 0.5vmin);
  color: #f0ffff;
  text-decoration: none;
}
