.module {
  margin: 7.5px 0;
  padding: 10px;
  background-color: #f1f2f4;
  border-radius: 5px;
}
.module_inner {
  display: flex;
  text-decoration: none;
}
.module:first-child {
  margin-top: 0;
}
.module:last-child {
  margin-bottom: 0;
}
.content {
  flex: 1 1 50%;
  padding: 0 10px;
}
.date {
  align-self: center;
  text-decoration: none;
}
